*{
    transition-duration: 0.3s;
    transition-property: background,whidth,height,d,stroke,stroke-width,fill,opacity,filter,color,top;
    font-family: monospace;
    user-select: none;
}
body::-webkit-scrollbar{display: none;}
*::-webkit-scrollbar{background:none;width:4px;height: 4px;}
*::-webkit-scrollbar-thumb{background:#fff5;border-radius: 20px;}
*::-webkit-scrollbar-thumb:hover{background:#fffa;border-radius: 20px;}
*::-webkit-scrollbar-thumb:active{background:#ffff;border-radius: 20px;}
*::-webkit-scrollbar-button{display: none;}
*::-webkit-scrollbar-track-piece{display: none;}
*::-webkit-scrollbar-corner{display: none;}
body{
    background-color: #9b28bc;
    background-image: url(bg.png);
    background-size: cover;
    background-position: center center;
    animation: hue 60s linear infinite;
    margin: 0;
    padding: 0;
    height: 100%;
}
@keyframes hue {
    0%{backdrop-filter: hue-rotate(360deg);}
    100%{backdrop-filter: hue-rotate(0deg);}
}
@keyframes hue1 {
    0%{filter: hue-rotate(360deg);}
    100%{filter: hue-rotate(0deg);}
}
header{
    opacity: 1;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto hidden;
    position: sticky;
    top: 0;
    background: hsla(0,0%,0%,0.7);
    padding: 10px;
    color: #fff;
}
header *{
    vertical-align: middle;
    cursor: pointer;
}
main{
    opacity: 1;
    background: hsla(0,0%,0%,0.7);
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    overflow: auto;
}
#emoji{
    width: 200px;
}
footer{
    opacity: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer>*{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto hidden;
}
footer>*>*{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.bar-1{height: 50px;background: hsla(0,0%,0%,0.7);}
.bar-2{height: 0;background: hsla(0,0%,0%,0.6);}
.bar-3{height: 0;background: hsla(0,0%,0%,0.5);}
.bar-4{height: 0;background: hsla(0,0%,0%,0.4);}
#box0{
    position: fixed;
    z-index: 99;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
#box1{
    background: #000000b3;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    position: relative;
}
#view{
    margin: 50px;
}
#box2{
    text-align:center;
    border-radius:20px;
}
#asSVG{
    width: 100px;
    font-size: 20px;
    color: #d000ff;
    flex-grow: 1;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    border: solid 2px #d000ff;
}
#asPNG{
    width: 100px;
    font-size: 20px;
    color: #fff;
    flex-grow: 1;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
    border: solid 2px #fff;
}
#size{
    padding: 0;
    text-align:center;
    border-radius:20px;
    background: hsla(0,0%,0%,0.7);
    border: solid 2px #d000ff;
    animation: hue1 60s linear infinite;
    margin: 10px;
}
input[type="number"]{
    width: 120px;
    font-size: 18px;
    margin: 5px;
    color: #fff; 
    text-align: center; 
    border-radius: 20px; 
    background: none; 
    border: none; 
    outline: none;
}
button{
    padding: 10px;
    text-align:center;
    cursor: pointer;
    border-radius:20px;
    background: hsla(0,0%,0%,0.7);
    color: #fff;
    font-size: 20px;
    border: solid 2px #d000ff;
    animation: hue1 60s linear infinite;
}
#closebox{
    position: absolute;
    padding: 10px;
    width: 20px;
    cursor: pointer;
    border-radius:20px;
    background: hsla(0,0%,0%,0.7);
    border: solid 2px #d000ff;
    animation: hue1 60s linear infinite;
    top: 10px;
    right: 10px;
}